@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-move 3s ease infinite;
  }
  .animate-gradient-move {
    background-size: 200% 200%;
    animation: gradient-move 6s linear infinite;
  }
  .animate-gradient-move-fast {
    background-size: 200% 200%;
    animation: gradient-move 2s linear infinite;
  }
  @keyframes gradient-move {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .animate-spin-slow {
    animation: spin 4s linear infinite;
  }
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
